# Bria Stalker
## WK8 3/9/2021
### Python Functions Continued

In [1]:
def full_name(fname,lname):
    return fname + ' ' + lname

In [3]:
full_name('Bria', 'Stalker')

'Bria Stalker'

In [16]:
# Find a number is prime
def is_prime(num):
    '''
    This functiuon checks prime number
    '''
    for n in range(2,num):
        if num % n == 0:
           print(num, 'is not prime')
           break
    else:
        print(num, 'is prime')

In [17]:
is_prime(7)

7 is prime

In [18]:
is_prime(6)

6 is not prime

In [19]:
is_prime(33)

33 is not prime

In [20]:
is_prime(51)

51 is not prime

In [21]:
for n in range(2,15):
    print(n)

2
3
4
5
6
7
8
9
10
11
12
13
14

In [22]:
#min_two_odds(3,5) --> 3
#max_two_odds(9,5) --> 9
def min_two_odds(num1,num2):
    if num1%2 != 0 and num2%2 != 0:
        return min(num1,num2)
    else:
        return max(num1,num2)

In [23]:
min_two_odds(9,3)

3

In [24]:
min_two_odds(9,2)

9

In [33]:
#check if two word string starts with same letter
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [26]:
txt = 'Python Program'

In [27]:
txt.split()

['Python', 'Program']

In [34]:
two_words_letters('Python Program')

True

In [35]:
two_words_letters('Java Program')

False

In [36]:
#reduce code...using list index then word index
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [37]:
two_words_letters('Python Program')

True

In [38]:
two_words_letters('Java Program')

False

In [41]:
#create _thirty(10,20) --> True
#create _thirty(5,20) --> False
def create_thirty(num1,num2):
    if num1+num2 == 30:
        return True
    elif (num1 == 30 or num2 == 30):
        return True
    else:
        return False

In [42]:
create_thirty(10,20)

True

In [43]:
create_thirty(5,30)

True

In [44]:
create_thirty(10,40)

False

In [45]:
#reduce code
def create_thirty(num1,num2):
        return (num1+num2) == 30 or num1 == 30 or num2==30

In [46]:
create_thirty(10,20)

True

In [47]:
create_thirty(5,30)

True

In [48]:
create_thirty(10,40)

False

In [50]:
#'programming --> ProGramming'
w = 'programming'

In [57]:
p1 = w[:3].capitalize()

In [58]:
p2 = w[3:].capitalize()

In [59]:
p1 + p2

'ProGramming'

In [68]:
def caps_two_letters(word):
    if len(word) > 3:
        p1 = word[:3].capitalize()
        p2 = word[3:].capitalize()
        return p1 + p2
    else:
        return 'Sorry the word is too short'

In [69]:
caps_two_letters('program')

'ProGram'

In [70]:
caps_two_letters('cis')

'Sorry the word is too short'

In [71]:
caps_two_letters('ci')

'Sorry the word is too short'

In [1]:
#Reverse a statement
str1 = "I am home"
lst = str1.split()

In [2]:
lst

['I', 'am', 'home']

In [3]:
lst.reverse()

In [4]:
lst

['home', 'am', 'I']

In [5]:
#combines list into statement again
' '.join(lst)

'home am I'

In [7]:
def rv_statement(txt):
    lst = txt.split()
    lst.reverse()
    return ' '.join(lst)

In [8]:
rv_statement('My name is Bria')

'Bria is name My'

In [9]:
rv_statement('I am home')

'home am I'

In [10]:
lst[::-1]

['I', 'am', 'home']

In [11]:
def rv_statement(txt):
    #lst = txt.split()
   # lst.reverse()
    return ' '.join(txt.split()[::-1])

In [12]:
rv_statement('I am home')

'home am I'

In [19]:
# Check if list has number 5 next to number 5 anywhere in list
#[3,4,5,5,10] --> true
#[3,4,5,6,7,5,]--> false
def has_55(lst):
    for n in range(0,len(lst)-1):
        if lst[n] == 5 and  lst[n+1] == 5:
            return True
        
    return False

In [21]:
lst =[3,4,5,6,7,5,]
has_55(lst)

False

In [23]:
def has_55(lst):
    for n in range(0,len(lst)-1):
       # if lst[n] == 5 and  lst[n+1] == 5:
        if lst[n:n+2] == [5,5]:
            return True
        
    return False

In [25]:
lst =[3,4,5,5,10]
has_55(lst)

True

In [29]:
# check code 001 in a list in that order
#[1,4,5,0,0,1,8] -->true
#[1,0,2,5,0,9,1,8] --> true
#[1,5,6,0,8,6,0] --> false

def check_code(lst):
    
    code = [0,0,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) #remove 0 at index 0
            
    return len(code) == 1

In [31]:
check_code([1,5,6,0,8,6,0])

False

In [32]:
check_code([1,4,5,0,0,1,8])

True

In [34]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [36]:
code.pop(0)
code

[0, 1, 's']

In [37]:
code.pop(0)
code

[1, 's']

In [38]:
# Number of arguments
def full_name(fname,lname):
    print(fname + ' '+ lname)
    
full_name('Bria','Stalker')

Bria Stalker

In [43]:
def full_name(*names):
    
    if len(names) == 1:
        print(names[0])
    else:
        print(names[0] + ' '+ names[1])

In [44]:
full_name('Bria','Stalker')

Bria Stalker

In [47]:
def sum_nums(a,b):
    return(a + b)

In [48]:
sum_nums(10,15)

25

In [49]:
sum_nums(12)

TypeError: sum_nums() missing 1 required positional argument: 'b'

In [53]:
#function does not have arg requirement
def sum_nums(*num):
    return sum(num) * 0.1

In [54]:
sum_nums(15)

1.5

In [55]:
sum_nums(15,10,9)

3.4000000000000004

In [62]:
def my_kids(child1,child2,child3):
    print("my first child " + child1 + ", my second child " + child2 + ', my third child ' + child3)

In [63]:
my_kids('Bill',"Jill",'Jo')

my first child Bill, my second child Jill, my third child Jo

In [64]:
my_kids(child2 = 'Jon', child1= 'Emil', child3 = 'Alice')

my first child Emil, my second child Jon, my third child Alice

In [68]:
my_kids(child3 = 'Alice', child2 = 'Jon', child1= 'Emil')

my first child Emil, my second child Jon, my third child Alice