# Bria Stalker
## WK5 2/18/2021
### Python For Loop
** General For Loop Format **

In [1]:
sc = [68, 87, 90, 92, 78, 88, 75, 67, 85]

In [2]:
sc

[68, 87, 90, 92, 78, 88, 75, 67, 85]

In [3]:
#Print list items 1 by 1
for n in sc:
    print(n)

68
87
90
92
78
88
75
67
85

In [4]:
#Gives remainder
4 % 2

0

In [5]:
#Display only even numbers from the list
for n in sc:
    if n % 2 == 0:
        print(n)

68
90
92
78
88

In [6]:
#Display only odd numbers from the list
for n in sc:
    if n % 2 != 0:
        print(n)

87
75
67
85

In [7]:
for n in sc:
    if n % 2 == 0:
        print(n)
    else:
        print("Odd")

68
Odd
90
92
78
88
Odd
Odd
Odd

In [8]:
sc_sum = 0

for n in sc:
    sc_sum = sc_sum + n
    
print(sc_sum)

730

In [9]:
#Short hand sum
sc_sum = 0

for n in sc:
    sc_sum += n
    
print(sc_sum)

730

In [11]:
sc_sum = 0

for n in sc:
    sc_sum += n

    avg = sc_sum / len(sc)
print(avg)

81.11111111111111

In [12]:
#prints string 1 by 1
for letter in "I am a student in CIS310":
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0

In [13]:
#Prints tuple 1 by 1
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [15]:
ls1 = [(10,20), (30,4), (50,60), (70,80)]

In [16]:
ls1

[(10, 20), (30, 4), (50, 60), (70, 80)]

In [17]:
for n in ls1:
    print(n)

(10, 20)
(30, 4)
(50, 60)
(70, 80)

In [18]:
#t1 and t2 are just variables..can be any name
for (t1,t2) in ls1:
    print(t1)

10
30
50
70

In [19]:
d = {"brand":"Ford", "Model":"Mustang", "Year":1964}

In [20]:
d

{'brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

In [21]:
for item in d:
    print(item)

brand
Model
Year

In [23]:
d.items()

dict_items([('brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1964)])

In [24]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [25]:
d.keys()

dict_keys(['brand', 'Model', 'Year'])

In [26]:
for k,v in d.items():
    print(k)
    print(v)

brand
Ford
Model
Mustang
Year
1964

In [27]:
for k,v in d.items():
    print(k)

brand
Model
Year

In [28]:
for k,v in d.items():
    print(v)

Ford
Mustang
1964

In [29]:
#dispaly dictionary as tuple
for tup in d.items():
    print(tup)
    print(tup)

('brand', 'Ford')
('brand', 'Ford')
('Model', 'Mustang')
('Model', 'Mustang')
('Year', 1964)
('Year', 1964)

In [32]:
sorted([5,6,7,8])

[5, 6, 7, 8]

In [36]:
d1 = {'k1':5, 'k2':8, 'k3':3}

In [37]:
d1.values()

dict_values([5, 8, 3])

In [38]:
sorted(d1.values())

[3, 5, 8]

In [1]:
fruits = ['apple','grape','banana', 'orange']

for f in fruits:
    print(f)

apple
grape
banana
orange

In [3]:
#break statement
fruits = ['apple','grape','banana', 'orange']
for f in fruits:
    print(f)
    if f == 'banana':
        break;

apple
grape
banana

In [5]:
for f in fruits:
    if f == 'banana':
        break;
    else:
        print(f)

apple
grape

In [6]:
#continue statement
for f in fruits:
    if f == 'banana':
        continue;
    else:
        print(f)

apple
grape
orange

In [7]:
#built in function- range()
range(6)

range(0, 6)

In [8]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [9]:
for num in range(2,6):
    print(num)

2
3
4
5

In [10]:
for num in range(20,32):
    print(num)

20
21
22
23
24
25
26
27
28
29
30
31

In [11]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [12]:
for num in range(1,10,2):
    print(num)
else:
    print("Finish Printing")

1
3
5
7
9
Finish Printing

In [16]:
#nested loop
adj = ['red', 'small', 'large', 'tasty']
fruits = ['apple','grape','banana', 'orange']

for a in adj: # outer for
    for f in fruits: #inner for
        if a == 'red' and f == 'banana':
            continue
        print(a,f)

red apple
red grape
red orange
small apple
small grape
small banana
small orange
large apple
large grape
large banana
large orange
tasty apple
tasty grape
tasty banana
tasty orange

In [21]:
#pass
for a in adj: # outer for
    for f in fruits: #inner for
        if a == 'red' and f == 'banana':
            pass
        else:
            print(a,f)

red apple
red grape
red orange
small apple
small grape
small banana
small orange
large apple
large grape
large banana
large orange
tasty apple
tasty grape
tasty banana
tasty orange