# Bria Stalker
## WK3 2/3/2021
### Lists

In [1]:
my_list = [50,89,90,100,88]

In [2]:
my_list

[50, 89, 90, 100, 88]

In [3]:
my_list = [50,89,90,'Alice','Bob', 'Jen']

In [4]:
my_list

[50, 89, 90, 'Alice', 'Bob', 'Jen']

In [6]:
#Determine length list
len(my_list)

6

In [1]:
fruit = ['Apple', 'Orange', 'Strawberry','Kiwi', 'Banana']

In [2]:
fruit

['Apple', 'Orange', 'Strawberry', 'Kiwi', 'Banana']

In [3]:
fruit[0]

'Apple'

In [4]:
fruit[-1]

'Banana'

In [7]:
my_list

NameError: name 'my_list' is not defined

In [8]:
my_list = [50,89,90,'Alice','Bob', 'Jen']

In [9]:
my_list[3]

'Alice'

In [10]:
my_list[1:]

[89, 90, 'Alice', 'Bob', 'Jen']

In [12]:
my_list[:3]

[50, 89, 90]

In [14]:
fruit[:2]

['Apple', 'Orange']

In [16]:
fruit[1:4]

['Orange', 'Strawberry', 'Kiwi']

In [17]:
fruit[1:3]

['Orange', 'Strawberry']

In [18]:
#Starting from the end is -1
fruit[-3:-1]

['Strawberry', 'Kiwi']

In [19]:
#add to a list
fruit + ['Blueberry']

['Apple', 'Orange', 'Strawberry', 'Kiwi', 'Banana', 'Blueberry']

In [21]:
fruit

['Apple', 'Orange', 'Strawberry', 'Kiwi', 'Banana']

In [22]:
#add item to list and update entire list
fruit = fruit + ['Blueberry']

In [23]:
fruit

['Apple', 'Orange', 'Strawberry', 'Kiwi', 'Banana', 'Blueberry']

In [24]:
#Change list value
fruit[1] = 'Mango'

In [25]:
fruit

['Apple', 'Mango', 'Strawberry', 'Kiwi', 'Banana', 'Blueberry']

In [26]:
#doubles a list but does not store it
my_list * 2

[50, 89, 90, 'Alice', 'Bob', 'Jen', 50, 89, 90, 'Alice', 'Bob', 'Jen']

In [27]:
my_list

[50, 89, 90, 'Alice', 'Bob', 'Jen']

In [30]:
fruit.append('Banana')

In [31]:
fruit

['Apple',
 'Mango',
 'Strawberry',
 'Kiwi',
 'Banana',
 'Blueberry',
 'banana',
 'Banana']

In [32]:
#removes list item
fruit.pop(0)

'Apple'

In [33]:
fruit

['Mango', 'Strawberry', 'Kiwi', 'Banana', 'Blueberry', 'banana', 'Banana']

In [34]:
#No index given, automatically removes last value in list
fruit.pop()

'Banana'

In [35]:
fruit

['Mango', 'Strawberry', 'Kiwi', 'Banana', 'Blueberry', 'banana']

In [37]:
fruit.pop()

'banana'

In [38]:
fruit

['Mango', 'Strawberry', 'Kiwi', 'Banana', 'Blueberry']

In [39]:
fruit(8)

TypeError: 'list' object is not callable

In [40]:
# If 5 first index would be 0 last index would be 4
len(fruit)

5

In [41]:
ch_list = ['a', 'r', 'z', 'h', 'e','b']

In [42]:
# sorts list in alphabetical order
ch_list.sort()

In [43]:
ch_list

['a', 'b', 'e', 'h', 'r', 'z']

In [44]:
# sorts list alphabetically backwards
ch_list.reverse()

In [45]:
ch_list

['z', 'r', 'h', 'e', 'b', 'a']

In [46]:
list1 = [80,90,70]
list2 = [90,80,70]
list3 = [40,50,20]

In [47]:
list1

[80, 90, 70]

In [48]:
nested_list = [list1,list2,list3]

In [49]:
nested_list

[[80, 90, 70], [90, 80, 70], [40, 50, 20]]

In [51]:
nested_list[0]

[80, 90, 70]

In [52]:
nested_list[-1]

[40, 50, 20]

In [53]:
nested_list[0][0]

80

In [54]:
nested_list[2][1]

50